<% if current_user != nil %>
	<% @questions = @questions.where.not(user_id:current_user) %>
<% end %>

<% if !@questions.empty? %>
	<% question = @questions.randomize %>
		<h1><%= question.body %></h1>
		<%= form_tag(check_question_path(question)) do %>
			<%= button_tag("True", name: "answer", value: "true") %>
			<%= button_tag("False", name: "answer", value: "false") %>
	<% end %>
<% end %>




