<ul>
<% @questions.each do |question| %>
	<li><%= question.body %> - <%= question.answer %></li>
<% end %>
</ul>

<%= form_tag(questions_path, method: 'post') do %>
<% end %>	
# TODO: finish true false button !!! 